<!-- upload-test.component.html -->
<h2>Upload File to MinIO</h2>

<div *ngFor="let item of currentUpload; let i = index">
  <form (submit)="onUpload($event, i)">
    <input type="file" (change)="onFileSelected($event, i)" />
    <button
      type="submit"
      [disabled]="
        !currentUpload[i].selectedFile || currentUpload[i].progress == 100
      "
    >
      Upload
    </button>
    <button
      type="button"
      [disabled]="
        !currentUpload[i].selectedFile || currentUpload[i].progress >= 95
      "
      (click)="abortUpload(i)"
    >
      Abort
    </button>
    <button type="button">
      {{ currentUpload[i].progress | number : "1.2-2" }}%
    </button>
  </form>
</div>

<button type="button" (click)="addUploader()">Add Uploader</button>

<p>{{ "// 1. Initiate upload => ได้ uploadId" }}</p>
<p>{{ "// 2. Get presigned URL โดยอิงจาก uploadId ที่ได้จาก 1) เป็นจำนวน file size หาร 5 MB" }}</p>
<p>{{ "// 3. แบ่ง chunk เป็นอย่างละ 5 MB แล้ว loop presigned URL เพื่ออัพโหลดแต่ละ chunk" }}</p>
<p>{{ "// 4. Complete upload จะทำการรวม chunk ที่อัพไปก่อนหน้าให้กลายเป็นไฟล์" }}</p>
<p>{{"ในส่วนกรณีที่เป็นชื่อซ้ำจะทำการตั้งค่า bucket นั้นเป็น versioning enable เพื่อบ่งบอกได้ว่าอันไหนเป็นอันล่าสุดที่อัพไป"}}</p>
